# Dependencies
node_modules/
frontend/node_modules/

# Environment files & Secrets
.env
backend/.env
*.env.local

# Production Build
dist/
frontend/dist/
build/

# Logs & OS System files
*.log
.DS_Store
Thumbs.db
.vscode/
.idea/
