# Server Port
PORT=5050

# MongoDB Connection String (Atlas Cloud or Local MongoDB)
# Local Example: mongodb://127.0.0.1:27017/edubase
# Atlas Example: mongodb+srv://<username>:<password>@cluster0.eetzxhw.mongodb.net/edubase?retryWrites=true&w=majority
MONGO_URI=mongodb+srv://<your_username>:<your_password>@cluster0.eetzxhw.mongodb.net/edubase?retryWrites=true&w=majority

# JWT Secret Key
JWT_SECRET=supersecretkey123
